body {
    text-align: center;
}
.wrap {
    width: 1280px;
    font-family: Arial, serif;
    font-weight: 400;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
}
.big-paragraph {
    text-align: left;
    line-height: 100px;
    font-stretch: condensed;
}
.big-link {
    color:  #000000;
    font-size: 70px;
    text-decoration: none;
}
.color-blue {
    color:  #4bcaff;
}
.top-menu {
    background-color:  #35444f;
    line-height: 65px;
    color:  #ffffff;
    font-size: 24px;
    font-stretch: condensed;
    margin: 0;
    padding: 0;
}
.top-menu-item {
    display: inline-block;
    border: 1px solid #35444f;
    padding: 0 20px;
}
.top-menu-item:hover {
    background-color: #222f3a;
    border: 1px solid gray;
}
.aside-menu {
    display: inline-block;
    width: 328px;
    margin-top: 50px;
    margin-right: 50px;
    border: 1px solid black;
    vertical-align: top;
    padding: 0;
}
.aside-menu-item {
    display: block;
    padding-left: 30px;
    color:  #485863;
    font-size: 24px;
    line-height: 70px;
    text-align: left;

}
.aside-menu-item:hover {
    background-color: #aaaaaa;
    padding-left: 60px;
    font-weight: 600;
}
.content {
    display: inline-block;
    width: 900px;
    margin-top: 50px;
}
.img-border {
    border: 1px solid black;
}
.img-height {
    display: inline-block;
    height: 530px;
    vertical-align: middle;
}
.img-box {
    width: 300px;
    height: 360px;
    vertical-align: middle;
    transition: all 1s linear;
}
.img-box:hover {
    width: 360px;
    height: 420px;
}
.paragraph {
    text-align: left;
    color:  #2c2b2b;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    padding: 10px 40px;
}
.bottom-menu {
    text-align: left;
    background-color: #aaaaaa;
    line-height: 65px;
    color:  #0c1927;
    font-size: 24px;
    padding-left: 10px;
}
.bottom-menu-item {
    display: inline-block;
    padding: 0 10px;
}
.bottom-menu-item:hover {
    text-decoration: underline;
    color:  #3181a6;
}
.copyright {
    display: block;
    float: right;
    color:  #010000;
    font-size: 20px;
    padding-right: 20px;
}