.body{
    margin: 0;
    background-image: url(../img/rana-sawalha.png);
    background-size: cover;
    font-family: Verdana, sans-serif;
}
.header{
    background-color:  rgba(0, 0, 0, 0.41);
    height: 22px;
    padding: 18px 80px;
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
}
.h-journey{
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    color: white;
    text-decoration: none;
}
.h-journey:hover{
    color: #3cb878;
}
.calendar,
.forum,
.journey{
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 13px;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
}
.calendar:hover,
.forum:hover,
.journey:hover {
    background-position-y: bottom;
}
.calendar{
    background-position: left top;
}
.forum{
    background-position: -30px top;
}
.journey{
    background-position: -60px top;
}
.welcome{
    color: white;
    font-size: 14px;
    vertical-align: 4px;
    padding-left: 22px;
    border-left: 1px solid #302f2c;
}
.log-in{
    color: #3cb878;
    text-decoration: none;
}
.log-in:hover{
    text-decoration: underline;
}
.main{
    font-size: 14px;
}
.form{
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding: 30px 60px;
    width: 320px;
    height: 520px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: calc(50% - 290px + 29px);
    left: calc(50% - 220px);
}
.form-sign-up:before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 34px;
    left: 0;
}
.form-sign-up:after{
    content: "";
    display: block;
    clear: both;
    height: 15px;
}
.sign-up{
    font-size: 20px;
    float: left;
}
.form-log-in{
    float: right;
    margin-top: 4px;
}
.facebook{
    border: 0;
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
    font-size: 16px;
    color: white;
    text-align: left;
    padding-left: 18px;
}
.facebook:before{
    content: "f";
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    margin-right: 18px;
    padding-right: 18px;
    border-right: 1px solid #2752a7;
    vertical-align: -4px;
}
.google{
    border: 0;
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    height: 46px;
    font-size: 16px;
    color: white;
    text-align: left;
    padding-left: 10px;
    float: right;
}
.google:before{
    content: "G+";
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-right: 25px;
    padding-right: 10px;
    border-right: 1px solid #c9402a;
    vertical-align: -2px;
}
.fieldset{
    margin: 25px 0 0 0;
    padding: 0;
    border-width: 1px 0 0 0;
    border-color: #eaeaea;
    border-style: solid;
    color:  #848484;

}
.legend{
    padding: 0 20px;
    text-align: center;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 46px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin: 10px 0;
    padding: 0 18px;
}
.input:focus{
    outline-width: 0;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.input::placeholder{
    color: #bebebe;
}
#checkbox{
    width: 20px;
    height: 20px;
    margin: 10px 5px 0 0;
    vertical-align: -4px;
}
#checkbox::-ms-check{
    color: #3cb878;
}
.submit{
    border: 0;
    border-radius: 3px;
    background-color: #3cb878;
    width: 100%;
    height: 46px;
    color:  #ffffff;
    font-size: 16px;
    margin-top: 25px;
}
