body{
    text-align: center;
}
.background{
    background-image: url(../img/background.png);
    width: 1066px;
    height: 768px;
    font-family: Arial, serif;
    color: white;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 150px;
}
.header{
    padding: 40px 0;
}
.logo-link{
    float: left;
}
.logo-link:hover .logo-image{
    margin-left: -46px;
}
.logo-link:hover .logo-first-line,.logo-link:hover .logo-second-line{
    color: #f26522;
}
.logo-view{
    width: 46px;
    height: 44px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.logo-first-line,.logo-second-line{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.logo-first-line{
    font-size: 26px;
    line-height: 26px;
}
.logo-second-line{
    font-size: 16px;
    line-height: 18px;
}
.contact{

}
.main{

}
.footer{
    font-size: 14px;
    line-height: 40px;
}
