body {
    margin: 0;
    text-align: center;
    font-family: Montserrat, Verdana, sans-serif;
}
.main {
    width: 1160px;
    margin: 0 auto;
}
.header {
    height: 900px;
    background: url("../img/section-1.jpg") fixed no-repeat;
    background-size: cover;
}
.header-bg {
    background: rgba(80, 80, 80, 0.7);
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-left: 60px;
}
.header-logo-hexagon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: #18cfab;
}
.header-logo-hexagon::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    border-bottom: 15px solid #18cfab;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}
.header-logo-hexagon::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    border-top: 15px solid #18cfab;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}
.header-logo-h {
    position: absolute;
    top: -9px;
    left: 9px;
    font-size: 38px;
    font-weight: bold;
}
.header-logo-ham {
    color: #18cfab;
    font-weight: bold;
}
.header-menu {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 700px;
}
.header-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: lightgrey;
}
.header-item:last-child {
    font-size: 25px;
    color: black;
}
.header-item:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}
.header-h2 {
    margin-top: 200px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}
.header-h2-span {
    color: #18cfab;
}
.header-h1 {
    font-size: 70px;
    color: white;
    text-transform: uppercase;
}
.header-h3 {
    margin-bottom: 150px;
    font-size: 30px;
    color: white;
    font-weight: lighter;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    margin: 10px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
.header-explore {
    background-color: #18cfab;
    box-shadow: 0 -5px 0 0 white;
}
.header-purchase {
    background-color: #00cbf6;
    box-shadow: 0 -5px 0 0 white;
}
.options {
    display: flex;
    height: 250px;
    font-size: 50px;
}
.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.option:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 5px solid #18cfab;
}
.option:nth-child(even) {
    background-color: #18cfab;
    color: white;
    border-top: 5px solid white;
}
.option-p {
    font-size: 14px;
    text-transform: uppercase;
}
.section-head {
    margin: 0;
    padding: 80px 0 15px;
    font-size: 35px;
}
.section-hr {
    display: inline-block;
    width: 80px;
    border: 0.5px solid #18cfab;
    box-shadow: 15px 5px 0 0 #18cfab;
}
.service-tabs {
    display: flex;
    margin-top: 70px;
}
.service-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 193px;
    height: 70px;
    font-size: 18px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    color: grey;
    background-color: #f8fcfe;
}
.service-tab:first-child {
    border-left: 1px solid lightgrey;
}
.active-service {
    color: white;
    background-color: #18cfab;
}
.active-service::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 84px;
    border-top: 13px solid #18cfab;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
.service-content {
    margin-top: 24px;
    display: flex;
}
.service-img {
    border: 1px solid lightgrey;
}
.service-paragraph {
    margin: 0 0 0 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    color: grey;
}
.service-purchase {
    margin-top: 100px;
    background: url("../img/section-2.jpg") fixed no-repeat;
    background-size: cover;
}
.service-purchase-bg {
    padding-top: 120px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.7);
}
.service-purchase-big {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18cfab;
}
.service-purchase-small {
    margin-top: 35px;
    font-size: 16px;
    font-weight: lighter;
    color: white;
}
.service-button {
    margin-top: 75px;
    background-color: #18cfab;
    box-shadow: 0 -5px 0 0 white;
}
.work {
    background-color: #f8fcfe;
    border-bottom: 1px solid lightgrey;
}
.work-tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
    font-size: 15px;
}
.work-tab {
    padding: 20px;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.work-tab:first-child {
    border-left: 1px solid lightgrey;
}
.active-work {
    border-top: 3px solid #18cfab;
    color: #18cfab;
}
.work-content {
    margin-top: 70px;
    font-size: 0;
}
.footer {
    background-color: #1c2a33;
}
.footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.copyright {
    font-size: 14px;
    font-weight: lighter;
    color: white;
}
.footer-ham {
    color: #18cfab;
}