body {
    text-align: center;
}
a {
    color: #16a085;
    text-decoration: none;
}
.wrap {
    width: 1280px;
    font-family: Roboto, Arial, serif;
    margin-left: auto;
    margin-right: auto;
}
.menu {
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 60px;/* Приближение из-за подстановки шрифтов */
}