body {
    font-family: 'Arial', 'sans-serif';
    text-align: center;
    margin: 0 auto;
}
#boardSection {
    display: inline-block;
    position: relative;
    background-color: black;
    border: 26px solid grey;
    border-image-source: url(../img/borderWall.png);
    border-image-slice: 26;
    border-image-repeat: repeat;
}
#myTankImg,
.tankImg {
    position: absolute;
}
#timeSpan {
    margin-left: 50px;
    font-size: 20px;
}