body {
    font-family: 'Arial', 'sans-serif';
    text-align: center;
    margin: 0 auto;
}
#boardSection {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 600px;
    background-color: black;
    border: 26px solid grey;
    /*border-image-source: url(../img/solidWall.png);
    border-image-slice: 26;
    border-image-width: 100%;
    border-image-repeat: repeat;*/
}
#myTankImg,
#tank1Img,
#tank2Img,
#tank3Img,
#tank4Img {
    position: absolute;
}
#timeSpan {
    margin-left: 50px;
    font-size: 20px;
}