body {
    font-family: 'Arial', 'sans-serif';
    text-align: center;
    margin: 0 auto;
}
#boardSection {
    display: inline-block;
    position: relative;
    background-color: black;
    border: 26px solid grey;
    border-image-source: url(../img/borderWall.png);
    border-image-slice: 26;
    border-image-repeat: repeat;
}
.bullet {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
}
#myTankImg,
.tankImg {
    position: absolute;
}
#timeSpan,
#myTankSpan,
#tankSpan {
    margin-left: 20px;
    font-size: 20px;
}
.tank-span-img {
    margin-left: 40px;
    width: 20px;
    height: 20px;
}