body{
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.text-view{
    flex-basis: 1200px;
    height: 700px;
    overflow: hidden;
    perspective: 300px;
}
.text-box{
    color: yellow;
    font-family: Arial, serif;
    /*animation: name duration timing-function delay iteration-count direction*/
    animation: star-wars 30s linear 0s infinite;
    height: 1500px;
    transform: rotateX(30deg) translateY(-600px);
}
.header{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
.text{
    font-size: 60px;
    text-align: justify;
}
@keyframes star-wars{
    from{
        padding-top: 1500px;
    }
    to{
        padding-top: 0;
    }
}