body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}
.classname{
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
}
.chess-wrapper{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}