body{
    margin: 0;
    text-align: center;
}
.parallax{
    max-width: 1500px;
    margin: 0 auto;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax-group{
    position: relative;
    height: 1500px;
}
.parallax-group:first-child{
    z-index: 10;
}
.bg{
    height: 890px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
}
.main{
    font-family: Arial, sans-serif;
    font-size: 0;
    max-width: 1500px;
    margin: 0 auto;
    transform: translateZ(0);
}
.text{
    background-color: white;
    border: 1px solid lightgrey;
    height: 400px;
}
.text-p{
    margin: 0;
    padding-top: 120px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.text .text-p::after{
    content: "We are an award winning creative agency based in Wisconsin with a passion for helping our clients grow.";
    display: block;
    margin-top: 35px;
    font-size: 17px;
    font-weight: normal;
    text-transform: none;
}
.short-line{
    margin: 50px auto;
    border: 2px solid orange;
    width: 60px;
}
.long-line{
    margin-top: 50px;
    border: 2px solid white;
    width: 280px;
}
.bg.header{
    background-image: url("../img/bg1.jpg");
}
.main.header{
    height: 800px;
    box-sizing: border-box;
    padding: 500px 86px 0;
    text-align: left;
    color: white;
}
.header-first{
    margin: 0;
    color: white;
    font-size: 48px;
    text-transform: uppercase;
}
.header-second{
    margin: 0 0 28px;
    color: white;
    font-size: 18px;
    font-weight: normal;
}
.header-left{
    display: inline-block;
    padding: 35px 30px;
    width: 92px;
    height: 59px;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: white;
}
.header-right{
    display: inline-block;
    padding: 35px 30px;
    width: 610px;
    height: 59px;
    color: white;
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid white;
    background-color:  rgba(0, 0, 0, 0.3);
}
.bg.clock{
    background-image: url("../img/bg2.jpg");
}
.main.clock{
    height: 380px;
    color: white;
}
.bg.tree{
    background-image: url("../img/bg3.jpg");
}
.main.tree{
    height: 475px;
    color: white;
}
.bg.water{
    background-image: url("../img/bg4.jpg");
}
.main.water{
    height: 485px;
    color: white;
}
.water-p{
    margin: 10px 0;
    color: white;
    font-size: 17px;
}
.logo:nth-of-type(n+2){
    margin-left: 65px;
}
.orange{
    color: orange;
}
