body {
    text-align: center;
}
.outer-frame {
    width: 300px;
    height: 300px;
    border: 10px solid gray;
    border-radius: 50%;
    margin: 0 auto;
}
.inner-frame {
    width: 260px;
    height: 260px;
    border: 2px solid gray;
    border-radius: 50%;
    margin: 18px auto;
}